/* リセットCSS */
* {
  margin: 0; /* すべての要素のマージンを0に設定 */
  padding: 0; /* すべての要素のパディングを0に設定 */
  box-sizing: border-box; /* すべての要素のボックスサイズをボーダーボックスに設定 */
}

/* レスポンシブ対応 */
body {
  font-family: Arial, sans-serif; /* ページ全体のフォントファミリーを設定 */
  display: flex; /* body要素をフレックスコンテナに設定 */
  flex-direction: column; /* bodyの子要素を縦に並べる */
}

.header {
  display: flex; /* header要素をフレックスコンテナに設定 */
  flex-direction: column; /* headerの子要素を縦に並べる */
  align-items: center; /* headerの子要素を横方向（水平方向）に中央揃えに設定 */
  padding: 2rem 0; /* header要素の上下に2remのパディングを設定 */
}

.identity {
  display: flex; /* identity要素をフレックスコンテナに設定 */
  flex-direction: row; /* identityの子要素を横に並べる */
  align-items: center; /* identityの子要素を縦方向（垂直方向）に中央揃えに設定 */
  justify-content: center; /* identityの子要素を横方向（水平方向）に中央揃えに設定 */
}

.header-image {
  max-width: 20%; /* ヘッダー画像の最大幅を20%に設定 */
  height: auto; /* ヘッダー画像の高さを自動調整に設定 */
  flex-shrink: 0; /* ヘッダー画像が縮小されないように設定 */
}

.header-text {
  display: flex; /* header-text要素をフレックスコンテナに設定 */
  flex-direction: column; /* header-textの子要素を縦に並べる */
  align-items: center; /* header-textの子要素を横方向（水平方向）に中央揃えに設定 */
  color: #232323;
  margin-left: 2rem; /* header-text要素の左側に2remのマージンを設定 */
}

.header-name-katakana {
  font-size: 1.5rem; /* カタカナ表記のユーザー名のフォントサイズを1.5remに設定 */
}

.header-name-alphabet {
  font-size: 1.2rem; /* アルファベット表記のユーザー名のフォントサイズを1.3remに設定 */
}

.header-social-links {
  flex-basis: 100%; /* ヘッダーソーシャルリンクの基本サイズを100%に設定 */
  margin-top: 1rem; /* ヘッダーソーシャルリンクの上に1remのマージンを設定 */
  display: flex; /* header-social-links要素をフレックスコンテナに設定 */
  flex-direction: column; /* header-social-linksの子要素を縦に並べる */
  align-items: center; /* header-social-linksの子要素を横方向（水平方向）に中央揃えに設定 */
  padding: 1rem; /* header-social-links要素に1remのパディングを設定 */
}

.social-link {
  text-decoration: none; /* ソーシャルリンクのテキスト装飾を無効化 */
  color: #333; /* ソーシャルリンクのテキストカラーを設定 */
  font-size: 1.2rem; /* ソーシャルリンクのフォントサイズを1.5remに設定 */
  padding: 1.6rem 5rem; /* ソーシャルリンクの上下に1.8rem、左右に10remのパディングを設定 */
  width: 100%;
  text-align: center; /* ソーシャルリンクのテキストを中央寄せに設定 */
}

.social-link:nth-child(odd) {
  background-color: rgb(242, 242, 242); /* 奇数番目のソーシャルリンクの背景色を設定 */
}

.social-link:nth-child(even) {
  background-color: rgb(250, 250, 250); /* 偶数番目のソーシャルリンクの背景色を設定 */
}

@media screen and (min-width: 481px) {
  .header-name-katakana {
    font-size: 1.8rem; /* 画面幅が481px以上の場合、カタカナ表記のユーザー名のフォントサイズを1.8remに設定 */
  }

  .header-name-alphabet {
    font-size: 1.4rem; /* 画面幅が481px以上の場合、アルファベット表記のユーザー名のフォントサイズを1.4remに設定 */
  }

  .social-link {
    font-size: 1.4rem; /* 画面幅が481px以上の場合、ソーシャルリンクのフォントサイズを1.4remに設定 */
  }
}
