* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
}

body {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.identity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  flex-shrink: 0;
  transition: transform 0.1s ease-out;
}

.header-image:active {
  transform: scale(0.9);
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #282828;
  margin: 0 0 0 1rem;
  line-height: 1.2;
}

.header-name-katakana {
  font-size: 1.5rem;
  font-weight: normal;
}

.header-name-alphabet {
  font-size: 1.5rem;
  font-weight: normal;
}

.grid-social-links {
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  grid-template-rows:  4rem 4rem 4rem 4rem 4rem 4rem 4rem;
  background-color: rgb(245, 245, 245);
  margin: 1rem 2rem;
  align-items: center;
}

.social-icon {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  padding-left: 5rem;
  padding-right: 0.4rem;
}

.social-link {
  border-bottom: 0.11rem solid rgb(190, 190, 190);
  text-decoration: none;
  color: #000000;
  font-size: 1.7rem;
  font-weight: lighter;
  text-align: left;
  padding-right: 8rem;
  padding-left: 0.8rem;
}
